# Fingerprint device
allow fingerprintd goodixfingerprintd_device:chr_file rw_file_perms;
allow fingerprintd sysfs:file rw_file_perms;
allow fingerprintd storage_file:dir create_dir_perms;
allow fingerprintd storage_file:lnk_file create_file_perms;
allow fingerprintd mnt_user_file:dir create_dir_perms;
allow fingerprintd mnt_user_file:lnk_file create_file_perms;

allow fingerprintd self:capability { dac_override dac_read_search };
allow fingerprintd fuse:dir create_dir_perms;
allow fingerprintd fuse:file create_file_perms;

# ==============================================
# Policy File of /system/bin/goodixfingerprintd Executable File

# ==============================================
# MTK Policy Rule
# ==============================================
# Permissions check
binder_call(goodixfingerprintd, system_server);
allow goodixfingerprintd permission_service:service_manager find;

# Give permissions to create directories
allow goodixfingerprintd goodixfingerprintd_data_file:dir create_dir_perms;
allow fingerprintd goodixfingerprintd:binder { call transfer };
allow fingerprintd McDriverDaemon_device:chr_file rw_file_perms;
allow fingerprintd mobicore_device:chr_file rw_file_perms;
allow fingerprintd tee_device:chr_file rw_file_perms;

